*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: 'Pixelify Sans', sans-serif;
    color: green;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

h1{
    margin-bottom: 100px;
}

h2{
    font-size: 19px;
}

 .container
{
    display: flex;
    gap: 50px;
    /* margin-bottom: 70px;
    margin-right: 400px; */
} 

#res
{
    margin-top: 20px;
}

#github{
    font-size: smaller;
}
